html{
  font-family: sans-serif;
}

body{
  width: 60%;
  max-width: 800px;
  min-width: 380px;
  margin: 0 auto;
}

h1{
  font-size: 50px;
}
p{
  font-size: 19px;
}

.form input[type='number']{
  width: 200px;
}

.lastResult{
  color: #ffffff;
  padding: 3px;
}